<a href="https://colab.research.google.com/github/HarshAade/Python-Complete-By-Harsh-/blob/main/Python_Part_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Decision Control Instruction*
     
    There are 3 Ways
       1} if condition:
             statement_1
             statement_2

       2} if condition:
             statement_1
             statement_2
          else:
             statement_3
             statement_4

       3} if condition_1:
             statement_1
             statement_2
          elif condition_2:
             statement_3
          elif condition_3:
             statement_4
          else:
             statement_5


       Rules
          a} : after if,else,elif is compulsory
          b} indent statement in if ,else,elif block
          c} Use either 4 spaces or a tab for indentation
          d} don't mix tabs and spaces
          e} if-else statement can be nested

*Conitions*
     
     1} Conditions Built Using Relation Operator        
        a} # Less than
             if 2 < 3:
               print("2 is less than 3")
        b} # Greater than
             if 3 > 2:
               print("3 is greater than 2")
        c} # Less than or equal to
             if 2 <= 3:
               print("2 is less than or equal to 3")
        d} # Greater than or equal to
             if 3 >= 2:
               print("3 is greater than or equal to 2")
        e} # Equal to
            if 2 == 2:
               print("2 is equal to 2")
        f} # Not equal to
            if 2 != 3:
               print("2 is not equal to 3")

    2} Note the Difference
        a = b - is assignment
        a == b - is comparison

*Logical Expressions*

       1} Logical and Operator
            a} and evaluates all expression
            b} it returns last expr if all expr evaluate to true
            c} otherwise , it retrun first value that evaluates to false
          Example :
             a = 40
             b = 30
             x = 75 and a >= 20 and b < 60 and 35
             y = -30 and a >= 20 and b < 15 and 35
             z = -30 and a >= 20 and 0 and 35

In [ ]:
a = 40
b = 30
x = 75 and a >= 20 and b < 60 and 35
y = -30 and a >= 20 and b < 15 and 35
z = -30 and a >= 20 and 0 and 35
print(x)
print(y)
print(z)

35
False
0

    2} Logical or operator
        a} or operator evaluates all expression
        b} it returns the first value  that evaluates to true
        c} Otherwise, it returns last value that evaluates to false
     Example:
       a = 40
       b = 30
       x = 75 or a>= 20 or 60
       y = a >= 20 or 75 or 60
       z = a < 20 or 0 or 35

In [ ]:
a = 40
b = 30
x = 75 or a>= 20 or 60
y = a >= 20 or 75 or 60
z = a < 20 or 0 or 35
print(x)
print(y)
print(z)

75
True
35

    3} Logial not operator
        a} Condition's result can be negated using not
          Example:
              a = 10
              b = 20
                not(a <= b ) ---- False. Same as a > b
                not( a >= b) ---- True. Same as a < b

        b} Shortcut for toggling value between 1 and 0
           Example:  
              a = int(input('Enter 0 or 1')
              a = not a -------- 0 if 1 , 1 if 0
               
               
*all() AND any()*
   
    Its a bulit in Function
      
    1} all() - instead of and
    2} any() - instead of or

     a,b,c = 10,20,30
      Example:
        res = all((a>5,b>20,c>15))
        print(res) ------ False
   
        res = any((a>5,b>20,c>15))
        print(res) ------ True


    A} all() & any() receive a string, list, tuple, set or dict
    B} We have passed a tuple of 3 conditions to them
    C} if dict, it is checked whether keys are true or not

*Conditional Expressions*
  
    Genral form is:
      <expr_1> if <conditional expression> else <expr_2>

      Example:
         age = 18
         status = 'minor' if age < 18 else 'adult'

In [ ]:
age = 20
status = 'minor' if age < 18 else 'adult'
print(status)

adult

    Conditional Expressions can be nested
     Example:
        wt = 55
        msg = 'Obese' if wt > 85 else 'Hefty' if wt > 60 else 'prim'

In [ ]:
wt = 55
msg = 'Obese' if wt > 85 else 'Hefty' if wt > 60 else 'prim'
print(msg)

prim

*Repetition Control Instructions*
  
    1} while loop
    2} for loop

    While Loop have 2 forms
       1} while condition:
             statement_1
             statement_2

       2} while condition:
             statement_1
             statement_2
          else:
             statement_3
             statement_4

          a} else block is optional
          b} executed when condition fails
          c} not executed if loop is terminated abruptly


    Usage of while loop
       a} Repeat a set of statements till a condition remains True
       b} Repeat a set of statements a finite number of times
       c} Iterate through a string list & tuple

    Example:
       1} Repeat a set of statements till a condition remains Ture

In [ ]:
num = int(input('Enter a number'))
while num != 5:
    print(num , num*num)
    num = int(input('Enter a number'))

Enter a number7
7 49
Enter a number8
8 64
Enter a number5

    Example:
       2} Repeat a set of statements a finite number of times

In [ ]:
count = 0
while count < 10:
 print(count,count*count,count*count*count)
 count += 1

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

    Example:
       3} Iterate through a string list and tuple

In [ ]:
s = 'Mumbai'
lst =['Desert','Dessert','to','too','lose','loose']
tpl = (10,20,30,-20,-10,75)
i = 0
while i < len(lst):
    print(i,s[i],lst[i],tpl[i])
    i += 1

0 M Desert 10
1 u Dessert 20
2 m to 30
3 b too -20
4 a lose -10
5 i loose 75

*Break and Continue*
    
    1} can be used with while and for loop
    2} Break terminates the loop ; it does not execute the else block
    3} continue goes for next later , skip the rest of the statements in the block
  
*else block in while loop*
    
    Execute on normal termination
       Example:
         num = int(input("Enter an integer: "))
         i = 2
         while i <= num -1:
           if num % i == 0:
             print(num,'is not a prime number)
             break
           i += 1
             else:
               print(num,'is a prime number')

In [ ]:
num = int(input("Enter an integer: "))
i = 2
while i <= num - 1:
    if num % i == 0:
        print(num, 'is not a prime number')
        break
    i += 1
else:
    print(num, 'is a prime number')

Enter an integer: 7
7 is a prime number

    2} for Loop has 2 from to write
        a} for var in list:
              statement_1
              statement_2

        b} for var in list:
              statement_1
              statement_2
           else:
              statement_3
              statement_4

          
        1} var is assigned next value from list in each iteration
        2} instead of list,string,tuple,set or dict can be used
        3} else block is optioanl
        4} executed if loop is not terminated abruptly

    Usage of for loop
        1} Repeat a set of statement a finite number of times
        2} iterate through a string, list, tuple, set or dictionary

    Example:
      1} Repeat a set of statement a finite number of times

         for i in range(1,10,2)  
          print(i,i*i,i*i*i )


      a} range as 3 parameter
        range(start,stop,step)
      b} Generates ints from start to stop (excluded) by step
      c} sequence can be iterated through using a for loop
      d} range() cannot generate a sequence of floats

        Example;
          range(10)  -- from 0 to 9
          range(10,19) -- from 10 to 19
          range(10,20,2) -- from 10 to 19 in steps of 2
          range(20,10,-3) -- from 20 to 9 in steps of -3

    Example:
      2} iterate through a string, list, tuple, set or dictionary

    for char in 'leopard':
      print(char)

    for animal in ['cat','dog','tiger','lion','leopard']
      print(animal)

    for flower in ('rose','lily','jasmine')
      print(flower)

    for num in [10,20,30,40,-10]
      print(num)

    for key in ['A101':'Harsh','A111':'Raj']
      print(Key)

    Example
      3} to get index of item

      lst = ['desert','dessert','to','too','lose','loose']
      for i, ele in enumerate(lst):     --- This "ele in enumerate" will generte the number
        print(i,ele)

In [ ]:
lst = ['desert','dessert','to','too','lose','loose']
for i, ele in enumerate(lst):                     # This "ele in enumerate" will generte the number
    print(i,ele)

0 desert
1 dessert
2 to
3 too
4 lose
5 loose

    else block in for loop
      1} executes on normal termination

In [ ]:
for ele in [10,20,30,3,40,50]:
  if ele % 10 != 0:
    print(ele,'is a not multiple of 10')
    break
else:
    print('all numbers in list are multiple of 10')

3 is a not multiple of 10

##*Console Input*

    Whenever we recive input from keyboard we say it " Console Input " and whenever we send output it is said to be " Console Output "

    Console Input
      A} General form of input():
          s = input('Prompt')

      B} input() returns a string:
         it can receive one or more value

      Example:
        name = input("Enter full name")
      
      input() Examples
        1 } Lets take input from the user there full name for that we don't have to take 3 input we can take one input and split them the required code is given below
         
        Code:
          fname,mname,sname = input("Enter full name: ").split()

        2} Lets take the input from the user about ther name age and salary and split it

        Code:
          data = input('Enter name,age,salary:').split()
          name = data[0]
          age = int(data[1])
          salary = float(data[2])

##*Console Output*

     A} Print is the built in function whem we send the output to the screen it becomes console output
     B} print as 4 parameter
         1] sep: This argument is used to indicate the character that should be used to separate the different objects while printing. By default, the separator used is space.
         2] end: This argument is used to indicate the character at which the console should start outputting to a new line.
         3] file: This argument indicates where the output from the console should be displayed. By default, this argument has the value ‘sys.stdout’, which refers to the standard output device or the screen.
         4] flush: This argument is used to indicate whether the output needs to be flushed.

In [ ]:
# Example
a =10
b = 2
c = 23
print(a,b,c,sep=',',end='!')

10,2,23!

In [ ]:
x = 'Harsh'
y = 'Saroj'
print(x,y,sep = '...',end = '#')

Harsh...Saroj#

*Formatted Printing*
   
    1} Using formatted string literals = easiest
    2} Using the format() method = order
    3} C printf() style = legacy
    4} Using slicing the concatenation = difficult

*Using fstrings (Formatted strings)*

     Example
       r,l,b = 1.5678,10.5,12.66
       print(f'radius={r}')

In [ ]:
r,l,b = 1.5678,10.5,12.66
print(f'radius={r}')

radius=1.5678

In [ ]:
print(f'lenght={l} breadth={b} radius={r}')

lenght=10.5 breadth=12.66 radius=1.5678

In [ ]:
name = 'Sushant Ajay Raje'
for n in name.split():
    print(f'{n:10}')         # print in 10 columns

Sushant
Ajay
Raje

*Using format() Method*

In [ ]:
r,l,b = 1.5678,10.5,12.66
nam,age,sal = 'Harsh',30,534.000

# Print in the order by postion mention in format()
print('radius = {} length = {} breadth = {}'.format(r,l,b))
print('name = {}, age = {}, salary = {}'.format(nam,age,sal))

# Print in any desired order
print('breadth = {2}, length = {0}, radius = {1}'.format(r,l,b))

# Print in specified no. of columns
print('name = {0:15} salary ={1:10}'.format(nam,sal))

radius = 1.5678 length = 10.5 breadth = 12.66
name = Harsh, age = 30, salary = 534.0
breadth = 12.66, length = 1.5678, radius = 10.5
name = Harsh           salary =     534.0

In [ ]:
print('Python', 'rules', 'forever', sep='@')

Python@rules@forever

*Console Output Example*

*Alignment*

In [ ]:
# Right-Justify n in 5 columns

for n in range(1,8,2):
  print(f'{n:>5}{n**2:>7}{n**3:>8}')

    1      1       1
    3      9      27
    5     25     125
    7     49     343

In [ ]:
# Left-justify 0th parameter in 5 cols

for n in range(1,8,2):
  print('{0:<5}{1:<7}{2:<8}'.format(n,n**2,n**3))

1    1      1
3    9      27
5    25     125
7    49     343

*Justification*

    Import math
    for n in range(1,10):
      s = round(math.sprt(n),3)
      c = round(math.pow(n,1/3,3)
      print(f'{n:^5},{s:10}{c:10}')

In [ ]:
import math
for n in range(1,10):
  s = round(math.sqrt(n),3)
  c = round(math.pow(n,1/3),3)
  print(f'{n:^5}{s:10}{c:10}')

  1         1.0       1.0
  2       1.414      1.26
  3       1.732     1.442
  4         2.0     1.587
  5       2.236      1.71
  6       2.449     1.817
  7       2.646     1.913
  8       2.828       2.0
  9         3.0      2.08

*Tabular form*
    
    Contacts = {
      'Dilip': 9834892290 ,'Shekhar': 8923109779 , 'Vivek': 6580364808 , 'Riddhi': 6784029083
    }

    for name,cellno in contants.items():
      print(f'{name:15}:{cellno:10d}')

In [ ]:
contacts = {
      'Dilip': 9834892290 ,'Shekhar': 8923109779 , 'Vivek': 6580364808 , 'Riddhi': 6784029083
    }

for name,cellno in contacts.items():
  print(f'{name:15}:{cellno:10d}')

Dilip          :9834892290
Shekhar        :8923109779
Vivek          :6580364808
Riddhi         :6784029083

In [ ]:
str= 'Python', 'rules', 'forever'
print("%s %s since %s" % (str))

Python rules since forever

#Data Representation Using List

    What are lists?
      1} lists are containers , can hold multiple values , aka collection/compound data type
      2} Also called dynamic array , can/grow/shrink during execution , used for handling var length data
      3} Example
          a} num = [10,25,30,40,50]
          b} names = ['Sam','anu','rad','supar']
          c} animal = ['Zebra',155.55,110]

    List Properties
      1} Duplicate iteams are allowed
          ages = [25,26,25,27,26]
      2} items can be replicated
          num = [10]*5
      3} An empty list is ok
          lst = []

    Accessing list Elements
      1} Entire List
            lst = ['Able','was','i','ere','i','saw','elba']
             print(lst)
      2} Individual Elements {index base access}   
            lst = ['Able','was','i','ere','i','saw','elba']
             print(lst[0],lst[2])
      3} sublists
            lst = ['Able','was','i','ere','i','saw','elba']
             print(lst[1:3])   # List index number is not taken so the output will be index 1,2
             print(lst[3:])    # from index number 3 till last

             Start,stop,step = this 3 things are used to access element in index
        4} looping list
             We can do this by using  2 form for and while loop
                1} while loop
                     animals = ['Zebra',Tiger','Lion','Jackal','kangarro']
                     i = 0
                     while 1 < len(animals):
                       print(animals[i])
                       i += 1

                2} for loop
                     for a in animals:
                        print(a)

                     # To mention number we have use index
                     for index, a in enumerate(animals):
                       print(index,a

*Built-In function for lists*
   
    1} len(lst)                 # return number if items in the kist
    2} max(lst)                 # return maximum element in the list
    3} min(lst)                 # return minimum element in the list
    4} sum(lst)                 # return sum of all elements in the list
    5} any(lst)                 # return True if any ele of lst in True
    6} all(lst)                 # return True if all ele of lst are True
    7} del()                    # Deletes element or slice or entire list
    8} sorted(lst)              # return list, lst unchanged
       Example:
         lst = [10,2,0,50,4]
         print(sorted(lst))     # [0,2,4,10,50] Expected Output
         print(sorted(lst,reverse = True))                 # [50,10,4,3,0] Expected Output  
    9} reversed(lst)            # used for reversing lst
        Example:
         print(list(reversed(lst)))  # [50,10,4,2,0]  Returns object list-reverseiterator
         
         Easy way to reverse is
           print(lst[::-1])
    10} Delete
        lst = [10,20,30,40,50]
        lst = del(lst[3])       # delete 3rd item in the list
        del(lst[2:5])           # delete items 2 to 4 form the list
        del(lst[:])             # delete entire list
        lst = []                # another way to delete an entire list

*Some Example by using built-in funciton*

In [ ]:
lst1 = [10,20,30,40,50]
print(type(lst1))

<class 'list'>

In [ ]:
print(lst1)

[10, 20, 30, 40, 50]

In [ ]:
lst2 = list(range(1,21))  # End value will be not consider
# The above line represent create a list from 1 20 and store it in the lst2
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Creating a list of odd number from 1 to 20
# 1st form
lst3 = list(range(1,21,2))
print(lst3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Lets create 20 to 1 in descreing order
lst4 = list(range(20,0,-1))
print(lst4)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

*Method Inside the list Class*

*Ready made method used in the list*

    List is mutable so we can change , add , delete the value
      lst = [12,15,13,23,22,16,17]
      lst.append(22)            # add new item at end
      lst.remove(13)            # delete item 13 from the list if it is not there in the list then it will generate error msg
      lst.pop()                 # removes last item in list
      lst.pop(3)                # removes 3rd item in the list
      lst.insert(3,21)          # insert 21 at 3rd position
      lst.count(23)             # return no of times 23 apppears in lst
      idx = lst.index(50)       # reports valueError as 50 is absent in lst

    Sorting and reversing method
       lst =[10,2,0,50,4]
       lst.reverse()
       print(lst)       # output = [4,50,0,2,10]
       lst.sort()
       print(lst)       # output = [0,2,4,10,50]
       lst.sort(reverse = True)
       print(lst)       # output = [50.10,4,2,0]

In [ ]:
lst =['python', 'forever']
lst.insert(2, 'rules')
print(lst)

['python', 'forever', 'rules']

*Operation on lists*

    3 Operation
      1] Mutation
      2] Concatentation
      3] Merging

*Mutation = Mutable = Changeable*

       animals = ['Zebra','Tiger','Lion','Jackal','Kangaroo']
       ages = [25,26,25,27,26,28,25]
       animals[2] = 'Rhinoceros'
          output = ['Zebra','Tiger','Rhinoceros','Jackal','Kangaroo']
       ages[5] = 31
          output = [25,26,25,27,26,31,25]

In [ ]:
animals = ['Zebra','Tiger','Lion','Jackal','Kangaroo']
ages = [25,26,25,27,26,28,25]
print(animals)
print(ages)

['Zebra', 'Tiger', 'Lion', 'Jackal', 'Kangaroo']
[25, 26, 25, 27, 26, 28, 25]

In [ ]:
animals[2] = 'Rhinoceros'
print(animals)

['Zebra', 'Tiger', 'Rhinoceros', 'Jackal', 'Kangaroo']

In [ ]:
ages[5] = 31
print(ages)

[25, 26, 25, 27, 26, 31, 25]

In [ ]:
ages[2:5] = [24,25,32]
print(ages)

[25, 26, 24, 25, 32, 31, 25]

In [ ]:
ages[2:5] = []
ages

[25, 26, 31, 25]

*Concatenation*

In [ ]:
lst = [12,15,13,23,22,16,17]
lst = lst + [33,44,55]
lst

[12, 15, 13, 23, 22, 16, 17, 33, 44, 55]

*Merging*

In [ ]:
s = [10,20,30]
t = [100,200,300]
z = s + t
z

[10, 20, 30, 100, 200, 300]

*Conversion*

In [ ]:
l = list('Africa')
l

['A', 'f', 'r', 'i', 'c', 'a']

*Aliasing / Shollow copy*

In [ ]:
lst1 = [10,20,30,40,50]
lst2 = lst1
lst1
lst2

[10, 20, 30, 40, 50]

In [ ]:
lst1[0] = 100
lst1

[100, 20, 30, 40, 50]

In [ ]:
lst2

[100, 20, 30, 40, 50]

*Cloning / Deep copy*

In [ ]:
lst1 = [10,20,30,40,50]
lst2 = []
lst2 = lst2 + lst1
lst1

# list 2 and list 1 is completely different

[10, 20, 30, 40, 50]

In [ ]:
lst2

[10, 20, 30, 40, 50]

In [ ]:
lst1[0] = 100
lst1

[100, 20, 30, 40, 50]

In [ ]:
lst2

[10, 20, 30, 40, 50]

*Searching*

In [ ]:
lst = [10,20,30,40,50]
res = 10 in lst             # in is the keyword in python
res

True

In [ ]:
re = 10 not in lst          # not in is the keyword in the python
re

False

*Comparison*

In [ ]:
a = [1,2,3,4]
b = [1,2,4]
a < b

True

In [ ]:
lst = []
print(bool(lst))

False

*List Varieties*

In [ ]:
a = [1,2,3,4]
b = [1,2,4]
c = [a,b]
print(c[0][1],c[1][2])

2 4

*Embedded list*

In [ ]:
x = [1,2,3,4]
y = [5,6,7,x,8]
print(y)

[5, 6, 7, [1, 2, 3, 4], 8]

*Unpacking Using '*'*'

In [ ]:
s = 'Hello'
l = [*s]
l

['H', 'e', 'l', 'l', 'o']

In [ ]:
x = [1,2,3,4]
y = [10,20, *x,30,40]
y

[10, 20, 1, 2, 3, 4, 30, 40]

*Implementing Stacks and Queues using list*

    Stack - Last In First Out (LIFO)
      1} Push operation - append()  
      2} Pop operation - pop()
         # this are Ready made function available with list class its not a built in function its a method with class    

    Queue - First in First Out (FIFO)
      1} Lists are inefficient for Queue
      2} sol; Deque collection class

          Why inefficient ?
           Beacuse we can go add on an element in last thats not a problem addition is not an
           issue but when we start deleting element from the queue that becomes
           problemicty or inefficient because if there are 10 elements presnet in the list
           and we remove the first one all position have to shifted one side to the left thats
           time conumesing so instead of that we use Deque Data structure

           Deque Stands for "Double ended Queue " is it say addition or subtraction should be done in starting or in ending as it comes in collection class

#Data Representation Using Tuples

    What are tuples
      1} Tuples are containers , commonly used for storing dissimilar data
      2} Example
            a = ()                   # empty tuple
            b = (10,)                # ,after 10 is necessary
            c = ('Sanjay',25,345.21)
      3} () Are optional
            c = 'Sanjay',25,345.21
            print(type(c))           # <class 'tuple'>

*Tuple Properties*
     
    1} Duplicate items allowed
       ages = (23,24,23,54,12)
    2} items can be replicated
       num = (10,)*5
    3} An empty tuple is ok
       tpl = ()

*Accessing tuple*

    tpl = ('Sanjay',25,345.21)
    print(tpl)             # Entire tuple will be printed

    msg = ('handle','Exception','like','a','boss')
    print(msg[1],msg[3])   # Individual elements will be printed

    emp = ('Sanjay',25,23000,4543,34)
    print(emp[1:3])        # Sub tuple will be printed  25,23000
    print(emp[3:])         # prints (4543,34)
    print(emp[:3]          # prints ('Sanjay',25,23000)

*Looping in tuples*
    
    1} While loop
       tpl = (10,20,30,40,50)
       i = 0
       while i < len(tpl):
          print(tpl[i])
          i += 1

    2} For Loop
       tpl = (10,20,30,40,50)
       for n in tpl:
          print(n)
    
    3} tpl = (10,20,30,40,50)
       for index, a in enumerate(tpl):
          print(index,a)

*Built in function in tuple*

    1} len(t)                 # return number if items in tuple t
    2} max(t)                 # return maximum element in tuple t
    3} min(t)                 # return minimum element in tuple t
    4} sum(t)                 # return sum of all elements in tuple t
    5} any(t)                 # return True if any element of tuple in True
    6} all(t)                 # return True if all element of tuple are True
    7} sorted(t)              # return list, (not sorted tuple)
       Example:
         tpl = [10,2,0,50,4]
         print(sorted(tlp))     # [0,2,4,10,50] Expected Output
         print(sorted(tpl,reverse = True))                 # [50,10,4,3,0] Expected Output  
    8} reversed(tpl)            # used for reversing tuple
       Example:
        print(tuple(reversed(tpl)))  # (4,50,0,2,10)  Returns object reversed

        Easy way to reverse is
         print(tpl[::-1])

*Tuple method*

    tpl =(12,15,13,23,22)
    print(tpl.count(23))        # return no of times 23 is in tpl
    print(tpl.index(22))        # return index of item 22
    print(tpl.index(50))        # reports valueError as 50 is absent

       insert(),append(),remove(),pop(),sort(),reverse() cannot exist because tuple is immutable

In [ ]:
t = (12,3,45,5,23)
t

(12, 3, 45, 5, 23)

In [ ]:
sorted_t = sorted(t)
sorted_t
# As u can see we are solving tuple but it is converted in list
# Sorted function always return a sorted list

[3, 5, 12, 23, 45]

In [ ]:
# sorted function must now return a sorted tuple
sorte = tuple(sorted(t))
sorte

(3, 5, 12, 23, 45)

In [ ]:
# Reverse
rev= tuple(sorted(t,reverse = True))
rev

(45, 23, 12, 5, 3)

In [ ]:
# another way to reverse tuple
reve = t[::-1]
reve = sorte[::-1]
reve

(45, 23, 12, 5, 3)

In [ ]:
tup = (1, 2, 3, 4, 5, 6, 7, 8)
print(tup.index(4))

3

*Operations on tuples*

*Mutation*
    
    msg = ('fall','in','line')
    msg[0] = 'FALL'                # Error
    msg[1:3] = ('Above','Mark')    # Error

    They will show error because they are immutanle either we want to indivilual emplty , complete tuple as it is immutable   


    s = ([1,2,3,4],[4,5],'Ox')     
    # in this first 2 element are themself are list as we know list
      are changable so we can change them 3rd value is string as we know string is immutable so we can't change them

    s[1][1] = 45               # Replace 5 with 45
      
    Another way by accessing the list & then changing
      t = s[1]
      t[1] = 45

*Conversion*
    
    tpl = tuple('Africa)     # ('A','f','r','i','c','a')

*Aliasing*

    tpl1 = (10,20,30,40,50)
    tpl2 = tpl1              # Shallow copy/Aliasing
    print(tpl1[0],tpl2[0])   # 10 10

*Cloning*

    tpl1 = (10,20,30,40,50)
    tpl2 = ()
    tpl2 = tpl2 + tpl1       # deep copy/cloning
    print(tpl1 , tpl2 )      # (10,20,30,40,50)

*Searching*
    
    tpl = ('a','e','i','o','u')
    res = 'a' in tuple       # True
    res = 'z' not in tuple   # True

*Identity*

    tpl1 = (10,20,30,40,50)
    tpl2 = (10,20,30,40,50)
    tpl3 = tpl1
    print(tpl1 is tpl2)      # True --- Unlike List
    print(tpl1 is tpl3)      # True

    num1 = 10
    num2 = 10
    print(num1 is num2)      # True but id are differnt

*Comparison & Emptiness*

    a = (1,2,3,4)
    b = (1,2,5)
    print(a < b)       # True, as 3 < 5


    tpl = ()
    print(bool(tpl))   # False

*Tuple varieties*
   
    a = (1,3,5,7,9)
    b = (2,4,6,8,10)
    c = (a,b)          # Tuple to tuples
    print(c[0])[0],c[1][2])     # 1,6  

    records = (('Priya',24,3455.50),(shyam,25,5623.34),
               ('Subba',23,4523.23),('Sug',54,2343.13))
    for n,a,s in records:
       print(n,a,s)

    x = (1,2,3,4)
    y = (10,20,x,30)            # Embedded tuple
    print(y)                    # (10,20,(1,2,3,4),30) Output

*Unpacking Using* *

    x = (1,2,3,4)
    y = (10,20,*x,30)
    print(y)       # Output (10,20,1,2,3,4,30)

*List of tuple & Vice-Versa*

    lst = [('Priya',24,3455.50),(shyam,25,5623.34)]            # List of tuples

    tpl = (['Priya',24,3455.50],[shyam,25,5623.34])            # tuples of list

    # Sorting and revserd is not possible differnt method

    import operator
    # each embedded tuple/list contain name age salary

    lst = [('Priya',24,3455.50),(shyam,25,5623.34)]            # List of tuples
    tpl = (['Priya',24,3455.50],[shyam,25,5623.34])            # tuples of list

    print(sorted(lst))      # it is built in function it will be sorted by first name
    print(sorted(tpl))

    # sorting by using salary
    print(sorted(lst, key = operator.itemgetter(2)))
    print(sorted(tpl, key = operator.itemgetter(2)))

    # itemgetter = Constructs a function that takes a list/tuple as input & fetehes the nth element out of it
    # 2 index stands at salary

# Data Representation Using Sets

*What are sets*
   
    1} Set is an unordered collection
         specialty - Elements are unqiue
         d = {10,10,10,10}    # only 10 stored  
    2} Example:
         a = set()                  # Empty set , don't use {}
         b = {20}                   # set with one item
         c = {'Sanjay',25,2354.35}
    3} Common use
         Eliminating duplicate entires
         menbership testing

    4} Sets is collection of all unqiue element where insertion amd accessing order are different

*Storage*
    
    a} An element is stored based on its hash value
    b} Hash value of an element will always be same
    c} Hence order of insertion does not matter

In [ ]:
s = {12,23,45,16,52}
t = {16,52,12,23,45}
u = {52,12,16,23,45}
print(s,t,u)

{16, 52, 23, 12, 45} {16, 52, 23, 12, 45} {16, 52, 23, 12, 45}

*Set Contents*
    
     1} Set can contain string, tuple but not list
     2} Hash value of strings and tuples doesn't change
     3} Hash value of list may change so no set of lists

       s1 = {'Morning','Evening'}    # True as it is string it can't be change  
       s2 = {(12,23),(3,32),(4,3)}   # Tuple is immutable so it also fine
       s3 = {[2,1],[42,12],[23,4]}   # it is list and it is immutable so it will genrate error
        
     4} A nested tuple is fine , a nested list is fine but a nested set is not allowed
     5} we can unpack usinging * same is applicable here

*Common operation on sets*

    1} Accessing entire set of elements
       s = {15,25,35,45,55}
       print(s)              # prints{35,45,15,55,25}
    2} individual elements and sub sets accessing is not done in sets
    3} Looping in sets
       s = {12,15,13,23,22,16,17}
       for ele in s:
         print(ele)          # output will be unorder

       s = {12,15,13,23,22,16,17}
       for index,n in enumerate(s)
        print(index,n)    # same working like list and tuple

    4} While loop will not work
    5} Sets can be made mutable and immutable by specail efforts
        s = {'gate','fate','late'}
        s.add('rate')       # it will not will added in the last as it is unorder so it will be added according hash function
        
        If we want to make set our immutable then we have to use frozenset
          s = frozenset( {'gate','fate','late'})
          s.add('rate')      # it will genrate error as if lock the set
    6} emptiness, comparison , identity , searching , cloning , aliasing , conversion
       this all will be working as same like list and tuple
    7} concatention , merging
       it will not work
    8} Example
        lst = [10,20,10,30,40,50,30]
        s = set(lst)
        print(s)               # {40,10,50,20,30}

*Built-in Function & modules for sets*
  
    len(s)        # return number of items in set s
    max(s)        # return maximum element in set s      
    min(s)        # return minimum element in set s
    sum(s)        # retrun sum of all elements in set s
    any(t)        # return True if any element of s is True
    all(t)        # return True if all elements of s are True
    sorted(s)     # returm sorted list (not sorted set)

    
    Reversed() wil not work

*Set Method*
  
    s = {12,15,13,23,22,16,17}
    t = {'A','B','C'}
    u = set()             # Empty set
    s.add('Hello')        # adds 'Hello' to s
    s.update              # adds elements of t to s
    u = s.copy()          # performs deep copy(cloning)
    s.remove(15)          # delets 15 from s
    s.remove(101)         # Raise error, as 101 is not a member
    s.discard(12)         # removes 12 from s
    s.discard(12)         # no error,though 101 is not in s
    s.clear()             # reomves all elements

*Specail operation on sets*

    Typical set operation: T
       This set operation are only use on the sets not on tuple nor on list this operation are only perform on the list  

    Subset,Superset,Disjoint sets  
       s = {12,15,13,23,22,16,17}
       t = {13,15,22}
       print(s.issuperset(t))         # True
       print(s.issubset(t))           # False
       print(s.isdisjoint(t)          # False , as intersection is null

    Another way
       s = {1,2,3,4,5}
       b = {2,4,5}
       print(a >= b)                  # prints True as a is superset of b
       print(a<= b)                   # prints False as a is subset of b
       
    Union
       engineers = {'Vijay','Sanjay','Ajay','Sujay','Dinesh'}
       managers = {'Aditya','Sanjay'}
       # union - All people in both categoris
       print(engineers | managers)
    Intersection
       # Intersection = who are engineers and managers
       print(engineers and managers)
    Difference  
       # difference = engineers who are not managers
       print(engineers - managers)
       # difference = managers who are not engineers
       print(managers - engineers)
       # Symmetric difference = managers who are not engineers how are not managers
       print(managers ^ engineers)
    Update set
       a|= b           # update a with the result of a | b
       a &= b          # update a with the result of a & b
       a -= b          # update a with the result of a - b
       a ^= b          # update a with the result of a^b

#Data Representation Using Dictionaries

*What are dictionaries*
    
    1} Collection of key:value pairs
       Also know as maps , associative arrays
    2} Example:
        d1 = {}                         # Empty dictionary
        d2 = {'A101':'Amol','A102':'Anil'}
    3} []    == Empty List
       ()    == Empty Tuple
       set() == Empty Set
       {}    == Empty Dictionaries

*Dictionaries Properties*

     d = {10:'A',20:'B',30,'Z'}      # Uniqye Keys
     d = {10:'A',20:'A',30,'Z'}      # ok
     d = {10:'A',20:'B',10:'Z'}      # Stores {10:'A',10:'Z'} there are 2 same key here so in this last value will be stored


     a} Keys must be unique
     b} different keys may have same value
     c} if k are same, v are differnt, latest k-v stored
     d} if k-v pairs are repeated, only 1 pair is stored

*Operations on Dictionaries*

    1} Accessing dictionary elements
        d = {'A101':'Amol','A102':'Anil','B103':'Ravi'}
        print(d)                   # Entire dictionary will be printed as it is no change in the order
        print(d['A102])            # Individual elements Key-based access it will print value for key 'A102'
        # Sub-lists-Slicing not possible in this
    2} Looping in dictionaries
        coures = {'DAA':'CS','AOA:'ME','SVY':'CE'}
        for k,v in coures.items():
          print(k,v)                # key-value pairs

        for k in coures.keys():
          print(k)                  # keys
        for k in courses:
          print(k)                  # key-shorter another way
        for v in courses.values():
          print(v)
        
        for i(k,v) in enumerate(courses.items()):
          print(i,k)        # it will print key value pair with index number
    3} Basic dictionary operation
        Mutable = Add,Modify,Delete Possible = keys are immutable

         Courses = {'CS101:'CPP','CS102':'DS','CS201':'OOP',
                    'CS226':'DAA','CS601':'Crypt','CS442':'Web'}
        Courses['CS444'] = 'Web Services'                # has the key is not there so it will be added in the last of dictionary
        Courses['CS201'] = 'OOP using java'                    # Modify value
        del(Courses['CS102'])    # it is built in function and it will delete a KV pair  
        del(courses)             # it will delete full courses and it will be empty

*Built-in function and modules for dictionaries*

*Common Operation*

      Operation          Result
    1} Concatention  == Doesn't work    d3 = d2 + 1 -- Will not work
    2} Merging       == Works
    3} conversion    == Works
    4} Aliasing      == Works
    5} cloning       == Works
    6} Searching     == Works
    7} identity      == Works
    8} Comparison    == Doesn't work    if d1 < d2: -- will not work
    9} Emptiness     == Works

    Concatention & Comparsion works in list &n tuple beacuse there element
    by element comparsion can happen they were order collections

    animals = {'Tiger':141,'Lion':152,'Leopard':110}
    birds = {'Edges':38,'Crow':3,'Parrot':2}
    combined = {**animals,**birds}  
    the '+' addition will not work but here upward we are unpacking them and Combining them

*built-in function*
    
    len(d)               # retrun number of key-value pairs     
    max(d)               # return maximum key in dictionary d
    min(d)               # return minimum key in dictionary d
    sum(d)               # return sum of all keys if keys are number
    any(d)               # retrun True is any key of dict d is True
    all(d)               # retrun True if all keys of dict d are True
    sorted(d)            # return sorted list of keys
       here we are working with list not the value so basicaly we will get
       sorted list not dictionary
       with list we get result as a list
       with tuple sorted returns a tuple
       with set it again returns the list with dictionary it again return the list
       means in short sorted function always return a list
    reversed(d)           # Can be used for reversing for reversing dict/keys/vals
        
    courses = {'CS101':'CPP','CS102':'DS','CS201':'OOP'}
    for k,v in reversed(courses.items()):
      print(k,v)

*Dictionary Methods*
    
     c ={'CS101':'CPP','CS102':'DS','CS201':OOP}
     d = {'ME126':'HPE','ME102':TOM','ME234':'AEM'}
     print(c.get('CS102','Absent'))      # DS as it is avabile so it is printed
     print(c.get('EE102','Absent'))      # As its not present so it will print absent
     print(c['EE102'])                   # if value is present then it will print it otherwise it will raises keyerror
     c.update(d)                         # updates c with items in d    
     print(c.popitem())                  # it will remove the last key value pairs and it will print
     print(c.pop('CS102'))               # It will pop and return and the reaming the key value pair  
     c.clear()                           # all key value pair will be deleted

In [ ]:
# Sorting dictionary by age increasing
d = {'rajesh':32,'Veena':23,'Ajay':28}
sorted_d = sorted(d.items() , key = operator.itemgetter(1))
print(sorted_d)

[('Veena', 23), ('Ajay', 28), ('rajesh', 32)]

In [ ]:
# Sorting by name
import operator
sord_d = sorted(d.items() , key = operator.itemgetter(0))
print(sord_d)

[('Ajay', 28), ('Veena', 23), ('rajesh', 32)]

In [ ]:
# Name ub descending order
sor = sorted(d.items() , key = operator.itemgetter(1) , reverse = True)
print(sor)

[('rajesh', 32), ('Ajay', 28), ('Veena', 23)]

*Variations of Dictionaries*
    
    1} Key can be number , strings or tuple
       d = {(1,5):'ME125',(3,2):'ME102',(5,4):'ME234'}             # all tuples must be unqiue     
    2} Nested Dictionaries
       contacts = {'Anil': {DOB:'17/09/2003},'favorite':'logloo'},
                   'Amol': {DOB:12/3/2001','Favorite':'Tundra'}
    3} Different key, same values
        lst = [12,13,14,15,16]
        d = dict.formkeys(lst,25)       # keys - list items , value = 25

*Comprehensions in python*

    What are Comprehensions ?
      1} Easy and compact way to create lists,sets and dictionaries
      2} Working : iterates over iteams and assigns them to a list, set , dictionary
      3} Can't Create a tuple : Being immutable , can't receive assignments

*list Comprehensions*
        
     1} General form
         lst = [expression for var in sequence[optional for and/or if]]
         Example: Generate 20 random number in the range 10 to 100
            a = [random.randint](10,100) for n in range(20)]
                # random is module name and randint is method name
         Example: Generate Square, cube of all numbers between 0 and 10
            a = [(x,x**2,x**3)for x in range(10)]

In [ ]:
a = [(x,x**2,x**3)for x in range(10)]
a

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

     Example: convert a list of strings to a list of integers
        a = [int(x) for x in ['10','20','30','40']]
*If in list comprehension*
     
     General form
       lst = [expression for var in sequence[optional for and/or if]]
     Example: Generate a list of even numbers in the range 10 to 30
       a = [n for n in range(10,30) if n % 2 ==0]
     Example: From a list delete all numbers between 20 & 50
       a = [num for num in range(20,50) if num < 20 or num > 50 ]
*if-else in list comprehension*
     
     General form
       lst = [expression for var in sequence[optional for and/or if]]
     Example: When if else both are used, place them befor for
              Replace a vowel in string with !
                a = ['!' if ch in 'aeiou' else ch for ch in 'technical']

In [ ]:
a = ['!' if ch in 'aeiou' else ch for ch in 'technical']
a

['t', '!', 'c', 'h', 'n', '!', 'c', '!', 'l']

*Multiple forms and if list comprehension*  
   

    General form
      lst = [expression for var in sequence[optional for and/or if]]
    Example: flatten list of lists
      arr = [[1,2,3,4],[5,6,7,8],[10,11,12,13]]
      b = [n for ele in arr for n in ele]
     # * can be used to unpack a list -- Another Way
     c = [*arr[0],*arr[1],*arr[2]]

*Nested for V/S Nested Comprehension*

    # Nested fors
      lst = [a + b for a in[1,2,3] for b in [3,4,5]]
         output will [4,5,6,5,6,7,6,7,8]
         calculation = {1+(3,4,5) ,2+(3,4,5), 3(3,4,5)}

      Unique combinations of 1,2 & 3
      a = [(i,j,k) for i in [1,2,3] for j in [1,2,3] for k in [1,2,3] if i != j and j != k and k != i ]

In [ ]:
a = [(i,j,k) for i in [1,2,3] for j in [1,2,3] for k in [1,2,3] if i != j and j != k and k != i ]

In [ ]:
a

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

     # Nested Comprehension
      lst = [[a + b for a in [1,2,3] for b in [3,4,5]]
         1st for -- outer loop
         2nd for -- inner loop

In [ ]:
lst = [a + b for a in [1,2,3] for b in [3,4,5]]
lst

[4, 5, 6, 5, 6, 7, 6, 7, 8]

*Example*

In [ ]:
# Creating new list contenting bigger then 25
x = [11,22,33,2,55,66]
y = [ele for ele in x if ele > 25]
y

[33, 55, 66]

In [ ]:
# Creting new list and multipling each element by 2
z = [ele*2 for ele in x ]
z

[22, 44, 66, 4, 110, 132]

In [ ]:
# Creating new list and multiplying bigger then 25 with 2
h = [ele*2 for ele in x if ele > 25 ]
h

[66, 110, 132]

In [ ]:
# Creating new list contenting bigger then 25 ----Another way
q = []
for ele in x:
  if ele > 25:
    q.append(ele)
q

[33, 55, 66]

*Set Comprehensions*

    General form
      s = {expression for var in sequence[optional for add/or if]}

    Example:
      # Generate set of square of all number between 0 & 10
        s = {x**2 for x in range(10)}
      
      # From a set delete all number between 20 & 50
        s = {num for num in a if num < 20 or num > 50}

*Dictionary Comprehensions*

    General Form
      dict_var = {key:value for(key,value) in dictonary.items()}

    Example: Obtain dictionary with each value cubed
       d = {'a':1,'b':2,'c':3,'d':4}
       d1 = {k:v**3 for (k,v) in d.items()}            # Output = {'a':1,'b':8,'c':27,'d':64}

    Example: obtain dictionary with each value cubed if value > 3
       d2 = {k:v**3 for (k,v) in d.items() if v>3}
          # output: {'d':64}

    Example: Identify odd and even entries in the dictionary
       d3 = {k:('E' if v % 2 == 0 else 'O') for (k,v) in d.items()}
           # Output : {'a':'O','b':'E','c':'O','d':'E'}

In [ ]:
# prompt: - Create a list of 5 names - ‘Anil’, ‘Amol’, ‘Aditya’, ‘Avi’, ‘Alka’
# - Insert the name ‘Anuj’ before ‘Aditya’
# - Append the name ‘Zulu’
# - Delete ‘Avi’ from the list
# - Replace ‘Anil’ with ‘AnilKumar’
# - Sort all the names in the list
# - Print reversed sorted list

# Create a list of 5 names
names = ['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']

# Insert the name ‘Anuj’ before ‘Aditya’
names.insert(3, 'Anuj')

# Append the name ‘Zulu’
names.append('Zulu')

# Delete ‘Avi’ from the list
names.remove('Avi')

# Replace ‘Anil’ with ‘AnilKumar’
names[0] = 'AnilKumar'

# Sort all the names in the list
names.sort()

# Print reversed sorted list
names.reverse()
print(names)